# Application Settings
ENVIRONMENT=development

# Database Settings (Leave blank or use sqlite for local file db)
DATABASE_URL=sqlite:///./youtube_analytics.db
# DATABASE_URL=postgresql://user:password@localhost:5432/youtube_analytics

# API Settings
API_V1_STR=/api
